{% extends 'home.html' %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% block content %}
{% if data_valuation %}
	<h1>User {{ object.user }} giv acces to her website. <br>Acces expires <b>{{ time_end }}</b></h1>
	<h3>Website name: <b>{{ object.site_name }}</b>
	  <a href="{{ object.site_url }}" class="btn btn-primary" target="_blank">Open in new tab</a>
	</h3>
	<h4>Account Name: <b>{{ object.account_name }}</b></h4>
	<h4>User Password: <b>{{ object.password }}</b></h4>
{% else %}
	<h1>Your access has expired :(. Sorry.{{ data_valuation }}</h1>
	<a href="{% url 'app:home' %}" class="btn btn-primary">Come back to basic site</a>
{% endif %}
{% endblock %}