{% extends 'base_account.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="container-fluid">
  <!-- left menu -->
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item active">
            <a class="nav-link active" href="{% url 'app:profile' %}">
              All objects
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:profile_new_entry' %}">
              <span data-feather="file"></span>
              <b>Manage objects & shares &rarr;</b>
            </a>
          </li>
        </ul>
      </div>
    </nav>
	<!-- end left menu -->

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Sher data account for website - <b>{{ object.site_name }}</b>.</h1>
		<a href="{% url 'app:profile_new_entry' %}" class="btn btn-warning">&larr; Come back</a>
      </div>
	  
	  <!-- sahare the link section -->
      <div class="table-responsive text-center">
        <table class="table table-striped table-sm">
		    <h1><b>Share the <a href="{{ url_forwarding }}" target="_blank">link</a> below with your friends:</b></h1>
			<h5 class="text-primary"><b>{{ url_forwarding }}</b></h5>
			<h5 class="text-warning">*The person will receive access to your account password <br>by 5 minutes at <b>{{ time_link }}</b>.</h5>
			<h1><a href="{% url 'app:profile_password_shared' object.pk %}" class="btn btn-lg btn-primary">Gener new link</a></h1>
        </table>
      </div>
	  <!-- end the link section -->
	  
    </main>
  </div>
</div>
{% endblock %}